.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .modal {
    display: block;
    width: 480px;
    padding: 40px;
    border-radius: 8px;
    background: #fff;
    margin: 180px auto;
  }